.stretchButton{
    font-size: 11px;
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
    max-height: 80rem !important;
    height: 80% !important;
}
.slds-modal__container2 {
    position: absolute;
}

