.stretchButton{
    font-size: 11px;
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
    max-height: 80rem !important;
    height: 80% !important;
}
.slds-modal__container2 {
    position: absolute;
<<<<<<< HEAD
}
=======
}

>>>>>>> 9bddcd97696a77f6d13b85d98ae7bb0c45e69399
