.slds-modal__container_max {
    width: 45% !important;
    max-width: 60% !important;
    height: 70% !important;
    max-height: 100% !important;
}
/* .discountTier"""opup {
    width: 60% !important;
    max-width: 60% !important;
    height: 60% !important;
    max-height: 60% !important;
} */
.modal__container_uom{
    width: 80% !important;
    max-width: 80% !important;
    height: 90% !important;
    max-height: 90% !important;
}
.ApplyButton, .stretchButton{
    background-color: #0176d3;
    height: 2.2rem;
    width : 8.2rem;
    border-radius: 4px;
    border-color: #0176d3;
    color:white;
    transition-duration: 0s;
}
.ApplyButton{
    width : 100px;
    margin-left: 2rem;
    margin-top: 1.1rem;

}

.stretchButton:hover,.ApplyButton:hover   {
    background-color: #3e5c93; 
    border-color:#3e5c93;
    border-radius: 4px;

  }
.discountInput{
    width: 5rem;
    margin-left: 3rem;
}
.discountType{
    width:8rem;
    margin-left: 3rem;
}
.disabledButton{
    height: 2.2rem;
    width : 8.2rem;
    border-radius: 4px;
    color:white;
    background-color: #808080; 
    border-color:#808080;    
    border-radius: 4px;

}