button{
    background-color: #3274cc;
    height: 35px;
    width : 130px;
    border-radius: 4px;
    border-color: #3274cc;
    color:white;
    transition-duration: 0.4s;

}

button:hover {
    background-color: #3e5c93; /* Green */
    border-color:#3e5c93;
    border-radius: 4px;

  }